:root {
  --white: hsl(0, 0%, 100%);
  --v-light-blue: hsl(210, 60%, 98%);
  --light-blue: hsl(211, 68%, 94%);
  --blue: hsl(219, 85%, 26%);
  --grayish-blue-1: hsl(219, 12%, 42%);
  --grayish-blue-2: hsl(219, 12%, 42%);
  --grayish-blue-3: hsl(224, 21%, 14%);
  --red: hsl(1, 90%, 64%);
  --Mobile: 375px;
  --Desktop: 1440px;
}

/* plus-jakarta-sans-regular - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../assets/fonts/plus-jakarta-sans-v3-latin-regular.woff2") format("woff2"), url("../../assets/fonts/plus-jakarta-sans-v3-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../assets/fonts/plus-jakarta-sans-v3-latin-500.woff2") format("woff2"), url("../../assets/fonts/plus-jakarta-sans-v3-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* plus-jakarta-sans-800 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../../assets/fonts/plus-jakarta-sans-v3-latin-800.woff2") format("woff2"), url("../../assets/fonts/plus-jakarta-sans-v3-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.blue {
  color: var(--blue) !important;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

main {
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  max-width: var(--Desktop);
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.top h1 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.top .badge {
  border-radius: 0.25rem;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1rem;
  height: 1.75rem;
  width: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notifications .notification {
  display: flex;
  gap: 1rem;
  padding: 15px;
  border-radius: 0.5rem;
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
}
.notifications .notification > div {
  flex-grow: 1;
}
.notifications .notification span {
  font-weight: 700;
}
.notifications .notification p {
  position: relative;
  line-height: 1.15;
}
.notifications .notification__topic {
  color: var(--grayish-blue-2);
}
.notifications .notification__avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.notifications .notification__avatar.action {
  border-radius: 0.5rem;
}
.notifications .notification__status {
  border-radius: 50%;
  display: inline-flex;
  margin-top: -0.5rem;
  margin-left: 0.25rem;
  background-color: transparent;
}
.notifications .notification__time {
  margin-top: 0.1rem;
  font-size: 1rem;
  color: var(--grayish-blue-1);
}
.notifications .notification .inner__note {
  padding: 1rem;
  border: 0.5px solid var(--light-blue);
  border-radius: 0.5rem;
  margin-top: 0.35rem;
  color: var(--grayish-blue-1);
  background-color: #fff;
}
.notifications .notification .inner__note:hover {
  background-color: var(--light-blue);
}
.notifications .notification.notRead {
  background-color: var(--v-light-blue);
}
.notifications .notification.notRead .notification__status {
  background-color: var(--red);
  height: 0.6rem;
  width: 0.6rem;
}
.notifications .notification:hover {
  cursor: pointer;
  background-color: var(--light-blue);
  scale: 1.005;
  border-color: var(--light-blue);
}
.notifications .notification.hasInnerMessage:hover {
  background-color: #fff !important;
}
.notifications .notification__name:hover, .notifications .notification__topic:hover, .notifications .notification__action:hover {
  color: var(--blue);
}

#markRead {
  font-weight: 500;
  color: var(--grayish-blue-2);
  transition: font-weight 0.2s ease-in-out;
}
#markRead:hover {
  cursor: pointer;
  color: var(--blue);
}

@media screen and (max-width: 375px) {
  html {
    font-size: 14px;
  }
  main {
    padding: 2rem 1rem;
  }
  .notifications .notification {
    padding: 1rem;
  }
}/*# sourceMappingURL=main.css.map */